.head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    margin-left: 10px;
}

.link{
    text-decoration: none; 
    color: inherit;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid #04AA6D;
    border-radius: 5px;
    background-color: #f8f9fa; 
    transition: background-color 0.3s, color 0.3s;
    margin: 10px;
}

.link:hover {
    background-color:#04AA6D;
    color: white; 
  }